ENVIRONMENT=dev
GIN_MODE=debug

DATABASE_URL=
REDIS_URL=

#DATABASE_URL=postgres://admin:password123@localhost:5432/uwang-dev
#REDIS_URL=redis://default:@localhost:6379

JWT_SECRET=
JWT_EXPIRED_IN=
JWT_MAXAGE=